{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_payment_shipping_logos %}
    {{ parent() }}
    <div class="row">
        <div class="mx-auto my-3 col-md-8 col-lg-6 col-xl-4">
            <div class="d-flex justify-content-around">
                <img src="{{ asset('facebook.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
                <img src="{{ asset('github.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
                <img src="{{ asset('instagram.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
                <img src="{{ asset('reddit.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto my-3 col-md-8 col-lg-6 col-xl-4">
            <div class="d-flex justify-content-around">
                <img src="{{ asset('snapchat.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
                <img src="{{ asset('spotify.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
                <img src="{{ asset('twitter.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
                <img src="{{ asset('youtube.svg', '@ShopwareSocialMediaIcons') }}" alt="Logo" style="height:3em;"/>
            </div>
        </div>
    </div>
{% endblock %}
