{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_payment_shipping_logos %}
    {{ parent() }}
    <div class="footer-social-media-logos"></div>
    <script>
    const logosPerRow = {{ shopware.config.ShopwareSocialMediaIcons.config.logosPerRow }};
    const socialSettings = [
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.facebookEnabled }}",
            name: "Facebook",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.facebookLink }}",
            imgSrc: "{{ asset('facebook.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.instagramEnabled }}",
            name: "Instagram",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.instagramLink }}",
            imgSrc: "{{ asset('instagram.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.twitterEnabled }}",
            name: "Twitter",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.twitterLink }}",
            imgSrc: "{{ asset('twitter.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.youtubeEnabled }}",
            name: "YouTube",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.youtubeLink }}",
            imgSrc: "{{ asset('youtube.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.snapchatEnabled }}",
            name: "Snapchat",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.snapchatLink }}",
            imgSrc: "{{ asset('snapchat.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.githubEnabled }}",
            name: "GitHub",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.githubLink }}",
            imgSrc: "{{ asset('github.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.spotifyEnabled }}",
            name: "Spotify",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.spotifyLink }}",
            imgSrc: "{{ asset('spotify.svg', '@ShopwareSocialMediaIcons') }}"
        },
        {
            active: "1" === "{{ shopware.config.ShopwareSocialMediaIcons.config.redditEnabled }}",
            name: "Reddit",
            href: "{{ shopware.config.ShopwareSocialMediaIcons.config.redditLink }}",
            imgSrc: "{{ asset('reddit.svg', '@ShopwareSocialMediaIcons') }}"
        }
    ];

    const createSocialMediaIcons = function() {
        if (typeof shopwareSocialMediaIcons !== "undefined"){
            shopwareSocialMediaIcons.createSocialMediaIcons(logosPerRow, socialSettings);
        } else {
            setTimeout(openCollapsedFooter, 250);
        }
    };
    createSocialMediaIcons();
    </script>
{% endblock %}
